<ion-content [fullscreen]="true">
  <ion-text>
    <h1 class="page-title"> FAQ </h1>
    <div class="container">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>What is PowerPulse?</ion-label>
              <ion-icon name="add" slot="end" ></ion-icon>
            </ion-item>
            <ion-item >
              <p>PowerPulse is an all inclusive, dynamic fitness app full of features and information to get you started on your fitness journey.</p>
            </ion-item>
            <ion-item>
              <ion-label>Is PowerPulse free?</ion-label>
              <ion-icon name="add" slot="end" ></ion-icon>
            </ion-item>
            <ion-item >
              <p>Yes! PowerPulse is free to use and will always be aimed that way.</p>
            </ion-item>
            <ion-item>
              <ion-label>How often are the blogs posted?</ion-label>
              <ion-icon name="add" slot="end" ></ion-icon>
            </ion-item>
            <ion-item >
              <p>The blogs are posted twice a week, on Monday and Friday!</p>
            </ion-item>
          </ion-list>
  
        </ion-card-content>
      </ion-card>
    </div>

  </ion-text>
</ion-content>
