

<ion-content [fullscreen]="true">
  <ion-text>
    <h1 class="page-title"> {{ blog.snippet }}</h1>
  </ion-text>
  <ion-header collapse="condense">
    <ion-toolbar>
      <img [src]="blog.thumbnail_src" alt="Thumbnail Image">
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Author: {{ blog.author }}</p>
        <ion-card>
          <ion-card-content>
            <p>{{ blog.text }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="back()">Back</ion-button>
</ion-content>
