img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


ion-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}