

<ion-content [fullscreen]="true">
  <ion-text>
  <h1 class="page-title">Workout Builder</h1>
</ion-text>
  <ion-list class="ion-list">
    <ion-item-group *ngFor="let muscleGroup of availableWorkouts | keyvalue">
      <ion-item-divider (click)="toggleGroup(+muscleGroup.key)" class="muscle-group-header">
        <ion-label class="muscle-group-label">{{ getMuscleGroupName(+muscleGroup.key) }}</ion-label>
        <ion-icon [name]="isGroupShown(+muscleGroup.key) ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item-divider>

      <ng-container *ngIf="isGroupShown(+muscleGroup.key)">
        <ion-item *ngFor="let workout of muscleGroup.value">
          {{ workout.name }}
          <ion-button class="workout-option-button" slot="end" (click)="exploreWorkout(workout)">Explore</ion-button>
          <ion-button class="workout-option-button" slot="end" (click)="addWorkout(workout)">Add</ion-button>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ion-list>

  <h2 class="selected-workouts-title">Selected Workouts</h2>
  <ion-button (click)="generatePDF()" class="generate-pdf-button" fill="clear">Generate PDF</ion-button>

  <ion-list>
    <ion-item *ngFor="let selectedWorkout of selectedWorkouts">
      <ion-label>{{ selectedWorkout.name }}</ion-label>
      <ion-button class="workout-option-button" slot="end" (click)="exploreWorkout(selectedWorkout)">Explore</ion-button>
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked" class="input-label">Reps</ion-label>
        <ion-input type="number" [(ngModel)]="selectedWorkout.reps" class="small-input" placeholder="10"></ion-input>
      </ion-item>
    
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked" class="input-label">Sets</ion-label>
        <ion-input type="number" [(ngModel)]="selectedWorkout.sets" class="small-input" placeholder="3"></ion-input>
      </ion-item>
    
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked" class="input-label">Break (mins)</ion-label>
        <ion-input type="number" [(ngModel)]="selectedWorkout.break" class="small-input" placeholder="1"></ion-input>
      </ion-item>
    
      <ion-button class="workout-option-button" slot="end" (click)="removeWorkout(selectedWorkout)" fill="clear">Remove</ion-button>
    </ion-item>
    
  </ion-list>
  
  
</ion-content>
