.small-input {
    max-width: 80px;
  }
  
  .input-item {
    max-width: 160px;
  }
  
.muscle-group-header {
    font-size: 18px;
    font-weight: bold;
  }

  .muscle-group-label {
    font-size: 18px;
    font-weight: bold;
  }
  
 
  .selected-workouts-title {
    text-align: center;
  }
  

  .generate-pdf-button {
    color: rgb(242, 242, 242);
    margin-right: 25px;
    float: right;
    background-color: var(--ion-color-tertiary);
  }
  
  .input-label {
    font-size: 14px;
    text-align: center;
  }
  

  .small-input {
    width: 50px;
  }
  
  ion-button {
    background-color: var(--ion-color-tertiary) !important;
  }